extends ../../../pug/layout/_layout.pug
include ../../../pug/layout/_head.pug
include ../../../pug/ui/_breadcrumbs.pug

block scripts
    script(type="module", src=`./src/windows/userCards/js/renderer.js`)


block head
  +head('AdamWeb', '')

block content
    main(class="p-4 bg-gray-200 dark:bg-black h-screen w-full overflow-hidden grid grid-cols-auto-1fr gap-12")
      include ../../../pug/Components/_nav.pug
      div(class="flex flex-col gap-4 h-[calc(100vh-2rem)]")
        div(class="flex items-center gap-4 p-4 rounded-3xl min-h-16 w-full bg-black dark:bg-gray-200")
          div(class="flex flex-wrap gap-2")
            -
              var items = [
                {
                  name: "Home",
                  link: "index.html",
                },
                {
                  name: "Личный кабинет",
                  link: "userCards.html",
                },
              ]
            +breadcrumbs(items)
        div(class="flex items-center gap-4 p-4 rounded-3xl min-h-16 w-full bg-black dark:bg-gray-200 h-full")
